.marker-wrapper {
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: auto;
  z-index: 9999;
  width: max-content;
  height: max-content;
}

.balloon {
  font-size: 13px;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  background: #f7ead6;

  border: 3px solid #56654b;
  border-radius: 1rem;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.tail-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(var(--angle));
  transform-origin: center center;
  pointer-events: none;
}

.tail {
  width: 18px;
  height: 18px;
  background: #7e9468;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: translate(-50%, -200%);
  position: absolute;
  top: 0;
  left: 0;
}

.tail-bg {
  width: 21px;
  height: 21px;
  background: #56654b;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: translate(-50%, -200%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
