.filter .keen-slider,
.filter .keen-slider__slide {
  overflow: visible !important;
}

.filter .keen-slider__slide {
  min-width: auto !important;
  width: auto !important;
  flex-shrink: 0;
}

.filter .react-datepicker-popper {
  min-width: 300px !important;
}
